Repository tablelandnetwork/tableland-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(local) fix issue with validator config file load
  packages/cli/test/setup.ts
  packages/local/config.json
  packages/local/src/validators.ts
  packages/local/validator/clean/config.json
  packages/node-helpers/test/validator/config.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(cli,sdk) remove support for all goerli chains
  package-lock.json
  packages/cli/package.json
  packages/cli/src/utils.ts
  packages/sdk/package.json
  packages/sdk/src/helpers/chains.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(local) better cleanup during start and shutdown
  packages/local/src/main.ts
  packages/local/src/validators.ts
Owners: @joewagner, @carsonfarmer

(local) bump patch version
  .github/workflows/test.yml
  package-lock.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner

(local) catch cleanup errors
  packages/local/src/validators.ts
  packages/local/test/fork.test.ts
Owners: @joewagner, @carsonfarmer

chore: update package-lock.json
  package-lock.json
Owners: @carsonfarmer, @joewagner

test(sdk): op goerli -> op sepolia
  packages/sdk/test/chains.test.ts
Owners: @carsonfarmer, @joewagner

feat(cli): update sepolia, filecoin block explorer urls
  packages/cli/src/utils.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

update package lock before publish
  package-lock.json
Owners: @carsonfarmer, @joewagner

(cli) add studio commands
  packages/cli/package.json
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/studio.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(cli) cleanup studio import typing
  package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/studio.ts
  packages/sdk/src/validator/client/validator.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(cli) fix studio default builder value
  packages/cli/src/commands/studio.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

replace mumbai with amoy
  package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils.ts
  packages/cli/test/list.test.ts
  packages/local/package.json
  packages/local/registry/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/test/chains.test.ts
  packages/sdk/test/validator.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(local) bump sdk dep and skip fork tests
  package-lock.json
  packages/local/package.json
  packages/local/test/fork.test.ts
Owners: @carsonfarmer, @joewagner

(local) fix deviation from prettier rule in config
  package-lock.json
  packages/local/src/validators.ts
  packages/node-helpers/test/setup.ts
Owners: @carsonfarmer, @joewagner

fix: _detectNetwork to stop erronoues logging | new createSigner method
  packages/sdk/src/database.ts
  packages/sdk/src/helpers/ethers.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/src/helpers/subscribe.ts
  packages/sdk/src/registry/contract.ts
  packages/sdk/src/registry/tables.ts
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

feat: upgrade to ethers v6 | tests for ethers
  packages/sdk/package.json
  packages/sdk/src/database.ts
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/helpers/ethers.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/src/helpers/subscribe.ts
  packages/sdk/src/lowlevel.ts
  packages/sdk/src/registry/contract.ts
  packages/sdk/src/registry/controller.ts
  packages/sdk/src/registry/create.ts
  packages/sdk/src/registry/index.ts
  packages/sdk/src/registry/run.ts
  packages/sdk/src/registry/tables.ts
  packages/sdk/src/registry/transfer.ts
  packages/sdk/src/registry/utils.ts
  packages/sdk/src/validator/client/fetcher.ts
  packages/sdk/test/aliases.test.ts
  packages/sdk/test/config.test.ts
  packages/sdk/test/database.test.ts
  packages/sdk/test/lowlevel.test.ts
  packages/sdk/test/registry.test.ts
  packages/sdk/test/statement.test.ts
  packages/sdk/test/subscribe.test.ts
  packages/sdk/test/thirdparty.test.ts
  packages/sdk/test/validator/config.json
Owners: @carsonfarmer, @joewagner

test(sdk): update for ethers nonce issue
  packages/sdk/test/aliases.test.ts
  packages/sdk/test/browser/server/package.json
  packages/sdk/test/config.test.ts
  packages/sdk/test/database.test.ts
  packages/sdk/test/lowlevel.test.ts
  packages/sdk/test/registry.test.ts
  packages/sdk/test/statement.test.ts
  packages/sdk/test/subscribe.test.ts
  packages/sdk/test/thirdparty.test.ts
  packages/sdk/test/validator.test.ts
Owners: @carsonfarmer, @joewagner

chore: bump @tableland/evm
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

fix(sdk): filter events for tableId logic
  packages/sdk/src/helpers/ethers.ts
  packages/sdk/src/helpers/subscribe.ts
  packages/sdk/test/registry.test.ts
Owners: @carsonfarmer, @joewagner

feat(cli): polygon amoy | refactors for ethersv6
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/src/commands/controller.ts
  packages/cli/src/commands/create.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/namespace.ts
  packages/cli/src/commands/read.ts
  packages/cli/src/commands/schema.ts
  packages/cli/src/commands/shell.ts
  packages/cli/src/commands/studio.ts
  packages/cli/src/commands/transfer.ts
  packages/cli/src/commands/write.ts
  packages/cli/src/lib/EnsCommand.ts
  packages/cli/src/lib/EnsResolver.ts
  packages/cli/src/lib/commandSetup.ts
  packages/cli/src/utils.ts
  packages/cli/test/controller.test.ts
  packages/cli/test/create.test.ts
  packages/cli/test/info.test.ts
  packages/cli/test/list.test.ts
  packages/cli/test/mock.ts
  packages/cli/test/namespace.test.ts
  packages/cli/test/read.test.ts
  packages/cli/test/receipt.test.ts
  packages/cli/test/schema.test.ts
  packages/cli/test/shell.test.ts
  packages/cli/test/transfer.test.ts
  packages/cli/test/validator/config.json
  packages/cli/test/write.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

feat(local): bump @tableland/sdk | polygon amoy | update 'getAccounts' for hardhat
  packages/local/package.json
  packages/local/registry/hardhat.config.ts
  packages/local/registry/package-lock.json
  packages/local/registry/package.json
  packages/local/src/util.ts
Owners: @joewagner, @carsonfarmer

feat(node-helpers): bump @tableland/sdk | use new 'getAccounts' in tests
  packages/node-helpers/package.json
  packages/node-helpers/test/sdk.test.ts
Owners: @carsonfarmer, @joewagner

feat(sdk): polygon amoy | new 'getAccounts' in tests
  packages/sdk/API.md
  packages/sdk/README.md
  packages/sdk/src/helpers/ethers.ts
  packages/sdk/src/validator/client/LICENSE
  packages/sdk/test/aliases.test.ts
  packages/sdk/test/chains.test.ts
  packages/sdk/test/config.test.ts
  packages/sdk/test/database.test.ts
  packages/sdk/test/lowlevel.test.ts
  packages/sdk/test/registry.test.ts
  packages/sdk/test/statement.test.ts
  packages/sdk/test/subscribe.test.ts
  packages/sdk/test/thirdparty.test.ts
  packages/sdk/test/validator.test.ts
  packages/sdk/validator.ts
Owners: @carsonfarmer, @joewagner

text(sdk|cli): c8 comments for coverage purposes
  packages/cli/src/commands/info.ts
  packages/sdk/src/registry/controller.ts
  packages/sdk/src/registry/create.ts
  packages/sdk/src/registry/run.ts
  packages/sdk/src/registry/transfer.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

chore: bump root package lock | remove node 16 from gh action
  .github/workflows/test.yml
  package-lock.json
Owners: @carsonfarmer, @joewagner

chore(cli): revert dep -> latest studio-cli version
  package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/studio.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix(sdk): move updated 'validator.ts' file to correct dir
  packages/sdk/src/validator/client/validator.ts
  packages/sdk/validator.ts
Owners: @carsonfarmer, @joewagner

chore(repo): remove node 16, add 20 in review workflow
  .github/workflows/review.yml
Owners: @carsonfarmer, @joewagner

fix(cli): remove uneccessary logging
  packages/sdk/src/helpers/ethers.ts
Owners: @carsonfarmer, @joewagner

chore(repo): run prettier/lint
  packages/cli/test/validator/config.json
  packages/sdk/test/validator/config.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

refactor(cli): use polygonscan URL over oklink
  packages/cli/src/utils.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

feat(sdk): export fee data helper method
  packages/sdk/src/helpers/ethers.ts
  packages/sdk/src/helpers/index.ts
Owners: @carsonfarmer, @joewagner

chore(repo): bump ethers dep
  package-lock.json
  packages/cli/package.json
  packages/local/package.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

chore(sdk): bump @tableland/evm
  package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

fix(sdk): only estimate gas for valid networks
  packages/sdk/src/helpers/ethers.ts
Owners: @carsonfarmer, @joewagner

refactor(sdk): don't filter 31337 out for 'getFeeData'
  packages/sdk/src/helpers/ethers.ts
Owners: @carsonfarmer, @joewagner

Update versions with studio pre-releases
  package-lock.json
  packages/cli/package.json
  packages/cli/src/commands/studio.ts
  packages/local/registry/package-lock.json
  packages/local/registry/package.json
  packages/local/src/up.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(local) add more extraneous log filters
  packages/local/src/util.ts
Owners: @joewagner, @carsonfarmer

(local) bump patch version
  package-lock.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# By convention in @tablelandnetwork repos, the first listed
# CODEOWNER is the repo DRI (directly responsible individual)
* @carsonfarmer @joewagner
/packages/sdk/ @carsonfarmer @joewagner
/packages/cli/ @carsonfarmer @joewagner @sanderpick @dtbuchholz
/packages/local/ @joewagner @carsonfarmer
