Repository tablelandnetwork/tableland-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# By convention in @tablelandnetwork repos, the first listed
# CODEOWNER is the repo DRI (directly responsible individual)
* @carsonfarmer @joewagner
/packages/sdk/ @carsonfarmer @joewagner
/packages/cli/ @carsonfarmer @joewagner @sanderpick @dtbuchholz
/packages/local/ @joewagner @carsonfarmer

refactor(sdk): add clearTimeout(), timeout val to createPollingController
  packages/sdk/src/helpers/await.ts
Owners: @carsonfarmer, @joewagner

feat(sdk): use per-chain controller for receipt
  packages/sdk/src/validator/receipt.ts
Owners: @carsonfarmer, @joewagner

test(sdk): adjust for D1 API changes
  packages/sdk/test/database.test.ts
  packages/sdk/test/statement.test.ts
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

fix(sdk): D1 API compatability; use opts for db/stmt
  packages/sdk/src/database.ts
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

docs(sdk): update example with polling controller
  packages/sdk/API.md
Owners: @carsonfarmer, @joewagner

docs(sdk): add context for polling & more docs for module exports
  packages/sdk/src/helpers/await.ts
  packages/sdk/src/helpers/chains.ts
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

test(sdk): add generic & chain-specific polling controller
  packages/sdk/test/await.test.ts
  packages/sdk/test/chains.test.ts
Owners: @carsonfarmer, @joewagner

test(sdk): add createSignal() checks
  packages/sdk/test/await.test.ts
Owners: @carsonfarmer, @joewagner

refactor(sdk): use default opts pattern like `Options = {}`
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

chore(sdk): bump @tableland/evm
  package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

refactor(sdk): use import for polling timeouts over hardcoded
  packages/sdk/src/helpers/chains.ts
Owners: @carsonfarmer, @joewagner

docs(sdk): tweak polling controller language
  packages/sdk/src/helpers/await.ts
Owners: @carsonfarmer, @joewagner

feat(sdk): D1 `exec` conformance via `ExecResult`, `wrapExecResult`
  packages/sdk/src/database.ts
  packages/sdk/src/registry/index.ts
  packages/sdk/src/registry/utils.ts
Owners: @carsonfarmer, @joewagner

chore(sdk): bump d1-orm
  package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

feat(sdk): update for D1 type conformance
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

test(sdk): add generic & chain-specific polling controller
  packages/sdk/test/chains.test.ts
Owners: @carsonfarmer, @joewagner

test(sdk): update w/ breaking changes due to D1 API conformance
  packages/sdk/test/database.test.ts
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

chore(sdk): bump d1-orm
  package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

test(sdk): update usage with latest d1-orm
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

test(local): fix usage with sdk's exec method response
  packages/local/test/e2e.test.ts
Owners: @joewagner, @carsonfarmer

docs(sdk): fix statement opts comment
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

test(sdk): add drizzle-orm compatability tests
  package-lock.json
  packages/sdk/package.json
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

(sdk) fixes to typing to conform to D1Orm
  packages/sdk/src/registry/utils.ts
  packages/sdk/src/statement.ts
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

test(sdk): fix/remove drizzle-orm ts-expect-error
  packages/sdk/test/thirdparty.test.ts
Owners: @carsonfarmer, @joewagner

fix(sdk): handle `first` overload where opts not parsed correctly
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

feat(sdk): add `isPollingController` helper
  packages/sdk/src/helpers/await.ts
Owners: @carsonfarmer, @joewagner

test(sdk): additional checks on opts/controller with statement methods
  packages/sdk/test/statement.test.ts
Owners: @carsonfarmer, @joewagner

refactor(sdk): use generic S for `raw`
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

test(sdk): uncomment var in `first` test (still passes w/o issue)
  packages/sdk/test/statement.test.ts
Owners: @carsonfarmer, @joewagner

refactor(sdk): remove deprecated `createTable` and `RunSQLParams`
  packages/sdk/API.md
  packages/sdk/src/registry/create.ts
  packages/sdk/src/registry/index.ts
  packages/sdk/src/registry/run.ts
  packages/sdk/test/registry.test.ts
Owners: @carsonfarmer, @joewagner

chore: update repo link, license in package.json
  packages/cli/package.json
  packages/local/package.json
  packages/sdk/package.json
  packages/sdk/src/helpers/LICENSE
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

feat: add node-helpers package
  package-lock.json
  packages/node-helpers/.mocharc.json
  packages/node-helpers/README.md
  packages/node-helpers/fixup
  packages/node-helpers/package.json
  packages/node-helpers/src/index.ts
  packages/node-helpers/src/utils.ts
  packages/node-helpers/test/setup.ts
  packages/node-helpers/test/utils.test.ts
  packages/node-helpers/tsconfig.cjs.json
  packages/node-helpers/tsconfig.json
Owners: @carsonfarmer, @joewagner

feat(sdk): remove jsonFileAliases & refactor tests with node-helpers
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/test/aliases.test.ts
Owners: @carsonfarmer, @joewagner

refactor(cli): use node-helpers jsonFileAliases, update tests
  package-lock.json
  packages/cli/package.json
  packages/cli/src/lib/commandSetup.ts
  packages/cli/src/utils.ts
  packages/cli/test/controller.test.ts
  packages/cli/test/create.test.ts
  packages/cli/test/info.test.ts
  packages/cli/test/read.test.ts
  packages/cli/test/schema.test.ts
  packages/cli/test/shell.test.ts
  packages/cli/test/transfer.test.ts
  packages/cli/test/write.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix(node-helpers): remove sdk dep, define duplicative types
  package-lock.json
  packages/node-helpers/package.json
  packages/node-helpers/src/utils.ts
Owners: @carsonfarmer, @joewagner

refactor(node-helpers): make `findOrCreateFile` a synchronous method
  packages/node-helpers/src/utils.ts
Owners: @carsonfarmer, @joewagner

test(cli): remove `defaultArgs` to fix `create can accept custom providerUrl`
  packages/cli/test/create.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix(node-helpers): enforce json filetype for dir & non-existent filename case
  packages/node-helpers/src/utils.ts
  packages/node-helpers/test/utils.test.ts
Owners: @carsonfarmer, @joewagner

refactor(node-helpers): enable sync vs async jsonFileAliases
  packages/node-helpers/src/index.ts
  packages/node-helpers/src/utils.ts
  packages/node-helpers/test/setup.ts
  packages/node-helpers/test/utils.test.ts
  packages/sdk/src/helpers/config.ts
Owners: @carsonfarmer, @joewagner

refactor(cli): use node-helpers fn `findOrCreateAliasesFile` vs custom impl
  packages/cli/src/commands/init.ts
  packages/cli/src/utils.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz
