Repository tablelandnetwork/tableland-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# By convention in @tablelandnetwork repos, the first listed
# CODEOWNER is the repo DRI (directly responsible individual)
* @carsonfarmer @joewagner
/packages/sdk/ @carsonfarmer @joewagner
/packages/cli/ @carsonfarmer @joewagner @sanderpick @dtbuchholz
/packages/local/ @joewagner @carsonfarmer

Cleanup dependencies and align local test naming
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local/package-lock.json
  packages/local/package.json
  packages/local/test/cli.test.ts
  packages/local/test/e2e.test.ts
  packages/sdk/package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix sdk docs geeration workflow
  .github/workflows/docs.yml
Owners: @carsonfarmer, @joewagner

Add test for rate limit with api key
  packages/sdk/package.json
  packages/sdk/test/browser/server/package-lock.json
  packages/sdk/test/validator.test.ts
Owners: @carsonfarmer, @joewagner

Validator can accept api key
  packages/sdk/package.json
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/validator/index.ts
  packages/sdk/test/validator.test.ts
  packages/sdk/test/validator/config.json
Owners: @carsonfarmer, @joewagner

prettier fixes
  packages/sdk/src/validator/index.ts
  packages/sdk/test/validator.test.ts
Owners: @carsonfarmer, @joewagner

add tests for database api key use
  packages/sdk/test/database.test.ts
Owners: @carsonfarmer, @joewagner

generalize api key config conversion to header
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/src/registry/utils.ts
  packages/sdk/src/validator/client/index.ts
  packages/sdk/src/validator/index.ts
  packages/sdk/src/validator/query.ts
  packages/sdk/test/database.test.ts
  packages/sdk/test/validator.test.ts
Owners: @carsonfarmer, @joewagner

fix build and test task order and cleanup
  packages/local/package.json
  packages/sdk/src/helpers/config.ts
  packages/sdk/test/database.test.ts
  packages/sdk/test/validator.test.ts
Owners: @joewagner, @carsonfarmer

import Dan's PR for alias feature
  .gitignore
  packages/cli/.env.example
  packages/cli/README.md
  packages/cli/src/cli.ts
  packages/cli/src/commands/controller.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/namespace.ts
  packages/cli/src/commands/schema.ts
  packages/cli/src/commands/shell.ts
  packages/cli/src/commands/transfer.ts
  packages/cli/src/commands/write.ts
  packages/cli/src/lib/commandSetup.ts
  packages/cli/src/utils.ts
  packages/cli/test/controller.test.ts
  packages/cli/test/create.test.ts
  packages/cli/test/info.test.ts
  packages/cli/test/list.test.ts
  packages/cli/test/namespace.test.ts
  packages/cli/test/read.test.ts
  packages/cli/test/schema.test.ts
  packages/cli/test/shell.test.ts
  packages/cli/test/transfer.test.ts
  packages/cli/test/write.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

merge monorepo changes into PR changes
  packages/cli/src/cli.ts
  packages/cli/src/commands/transfer.ts
  packages/cli/src/utils.ts
  packages/cli/test/controller.test.ts
  packages/cli/test/create.test.ts
  packages/cli/test/info.test.ts
  packages/cli/test/list.test.ts
  packages/cli/test/read.test.ts
  packages/cli/test/schema.test.ts
  packages/cli/test/shell.test.ts
  packages/cli/test/transfer.test.ts
  packages/cli/test/write.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

lint fixes
  packages/cli/test/info.test.ts
  packages/cli/test/schema.test.ts
  packages/cli/test/transfer.test.ts
  packages/cli/test/write.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

feat(cli): dry out get table alias function calls
  packages/cli/src/commands/controller.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/commands/schema.ts
  packages/cli/src/commands/transfer.ts
  packages/cli/src/commands/write.ts
  packages/cli/src/utils.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

chore: update versions for cli and sdk
  package-lock.json
  packages/cli/package.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

Throw an error if registry deploy fails
  packages/local/src/main.ts
  packages/local/src/util.ts
  packages/local/src/validators.ts
  packages/local/test/e2e.test.ts
  packages/local/test/start.test.ts
Owners: @joewagner, @carsonfarmer

cleanup
  packages/local/src/main.ts
  packages/local/src/validators.ts
Owners: @joewagner, @carsonfarmer

bump local patch version
  packages/local/package.json
Owners: @joewagner, @carsonfarmer

(local) wait 5 sec before runing contract deploy
  packages/local/src/main.ts
Owners: @joewagner, @carsonfarmer

fix regression in sdk during monorepo switch
  packages/sdk/package.json
  packages/sdk/src/helpers/config.ts
Owners: @carsonfarmer, @joewagner

(local) fix solidity version in registry contract
  packages/local/registry/contracts/TablelandTables.sol
Owners: @joewagner, @carsonfarmer

(local) run hardhat clean if registry deploy fails
  package.json
  packages/local/src/main.ts
Owners: @carsonfarmer, @joewagner

(local) add specific solc release
  packages/local/registry/hardhat.config.ts
Owners: @joewagner, @carsonfarmer

Export Schema and Column types so they can be used externally
  package-lock.json
  packages/sdk/src/validator/index.ts
  packages/sdk/src/validator/tables.ts
Owners: @carsonfarmer, @joewagner

prettier:fix
  packages/sdk/src/validator/index.ts
Owners: @carsonfarmer, @joewagner

update sdk patch version
  package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

camelize schema export
  packages/sdk/src/validator/tables.ts
Owners: @carsonfarmer, @joewagner

bump package version
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

dev version
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

(sdk) add helper to create studio project aliases
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/test/aliases.test.ts
Owners: @carsonfarmer, @joewagner

bump sdk version
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

(local) expose a method to restart the validator
  package-lock.json
  packages/local/package.json
  packages/local/src/main.ts
Owners: @carsonfarmer, @joewagner

(sdk) Add alias to file instead of overwriting
  packages/sdk/src/helpers/config.ts
  packages/sdk/test/aliases.test.ts
Owners: @carsonfarmer, @joewagner

fix(chains): filter out op goerli staging
  packages/sdk/src/helpers/chains.ts
Owners: @carsonfarmer, @joewagner

docs(utils): add reminder to remove unneeded op goerli staging chain filter
  packages/cli/src/utils.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

test(chains): ensure op goerli staging is not valid chain
  packages/sdk/test/chains.test.ts
Owners: @carsonfarmer, @joewagner

chore(deps): install deps; update @tableland/sdk version
  packages/cli/package.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

update sdk version throughout repo
  package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

chore(deps): install & update package-lock
  package-lock.json
Owners: @carsonfarmer, @joewagner

feat(sdk): add per-chain polling info & controller creation
  packages/sdk/src/helpers/chains.ts
Owners: @carsonfarmer, @joewagner

(sdk) lint fix
  packages/sdk/src/helpers/config.ts
Owners: @carsonfarmer, @joewagner

(sdk) port sander's pr from js-tableland repo
  packages/sdk/API.md
  packages/sdk/src/database.ts
  packages/sdk/src/helpers/await.ts
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/src/lowlevel.ts
  packages/sdk/src/registry/utils.ts
  packages/sdk/src/statement.ts
  packages/sdk/src/validator/health.ts
  packages/sdk/src/validator/index.ts
  packages/sdk/src/validator/query.ts
  packages/sdk/src/validator/receipt.ts
  packages/sdk/src/validator/tables.ts
  packages/sdk/src/validator/version.ts
  packages/sdk/test/await.test.ts
  packages/sdk/test/database.test.ts
  packages/sdk/test/lowlevel.test.ts
  packages/sdk/test/statement.test.ts
Owners: @carsonfarmer, @joewagner
