Repository tablelandnetwork/tableland-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

chore(docs): update READMEs, add node-helpers licenses
  packages/cli/README.md
  packages/local/README.md
  packages/node-helpers/LICENSE
  packages/node-helpers/LICENSE-APACHE
  packages/node-helpers/README.md
  packages/sdk/README.md
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

sdk aliases option can be sync or async
  package-lock.json
  packages/cli/package.json
  packages/cli/src/utils.ts
  packages/cli/test/controller.test.ts
  packages/cli/test/create.test.ts
  packages/cli/test/info.test.ts
  packages/cli/test/read.test.ts
  packages/cli/test/schema.test.ts
  packages/cli/test/transfer.test.ts
  packages/cli/test/write.test.ts
  packages/local/package.json
  packages/node-helpers/package.json
  packages/node-helpers/src/index.ts
  packages/node-helpers/src/utils.ts
  packages/node-helpers/test/utils.test.ts
  packages/sdk/package.json
  packages/sdk/src/helpers/config.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(help) move json file tests out of sdk
  packages/node-helpers/test/sdk.test.ts
  packages/node-helpers/test/setup.ts
  packages/node-helpers/test/validator/config.json
  packages/sdk/package.json
  packages/sdk/test/aliases.test.ts
Owners: @carsonfarmer, @joewagner

refactor(sdk): read/write helpers for sync or async `AliasesNameMap`
  package-lock.json
  packages/sdk/src/database.ts
  packages/sdk/src/helpers/config.ts
  packages/sdk/src/helpers/index.ts
  packages/sdk/src/helpers/utils.ts
  packages/sdk/src/lowlevel.ts
  packages/sdk/src/statement.ts
Owners: @carsonfarmer, @joewagner

chore: bump `cli`, `local` with patch version
  package-lock.json
  packages/cli/package.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix(node-helpers|cli): define .js on node-helpers export, bump versions
  package-lock.json
  packages/cli/package.json
  packages/node-helpers/package.json
  packages/node-helpers/src/index.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

chore(cli): dep bumps via dependabot
  package-lock.json
  packages/cli/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

Bump @tableland/evm
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

update chain tests
  packages/sdk/test/chains.test.ts
Owners: @carsonfarmer, @joewagner

bump evm dep in local tableland
  packages/local/registry/package.json
Owners: @joewagner, @carsonfarmer

update version for upcoming release
  package-lock.json
  packages/local/package.json
  packages/local/registry/package-lock.json
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

bump sdk version in cli and local
  packages/cli/package.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

bump cli and local minor versions
  packages/cli/package.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix lint
  package-lock.json
Owners: @carsonfarmer, @joewagner

fix lint
  packages/cli/package.json
  packages/local/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix cli version
  packages/cli/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix local version
  packages/local/package.json
Owners: @joewagner, @carsonfarmer

fix package-lock.json after package version bumps
  package-lock.json
Owners: @carsonfarmer, @joewagner

(local) upgrade hardhat so node 20.x.x will work
  .github/workflows/test.yml
  packages/local/registry/package-lock.json
  packages/local/registry/package.json
Owners: @carsonfarmer, @joewagner

cleanup package's devdeps and fix validator test
  package-lock.json
  package.json
  packages/cli/package.json
  packages/local/package.json
  packages/sdk/package.json
  packages/sdk/test/validator.test.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(cli) catch json parse errors in node 16-20
  package-lock.json
  packages/cli/src/commands/read.ts
  packages/local/package.json
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

fix: mumbai failing to due gas limit issues
  package-lock.json
  packages/cli/package.json
  packages/local/package.json
  packages/node-helpers/package.json
  packages/sdk/package.json
  packages/sdk/src/helpers/ethers.ts
  packages/sdk/src/registry/controller.ts
  packages/sdk/src/registry/create.ts
  packages/sdk/src/registry/run.ts
  packages/sdk/src/registry/transfer.ts
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

update package-lock.json
  package-lock.json
Owners: @carsonfarmer, @joewagner

feat: remove Database.readOnly method
  packages/sdk/src/database.ts
  packages/sdk/test/database.test.ts
Owners: @carsonfarmer, @joewagner

feat: remove runSQL registry method
  packages/sdk/src/registry/index.ts
  packages/sdk/test/registry.test.ts
Owners: @carsonfarmer, @joewagner

chore: bump sdk patch version
  packages/sdk/package.json
Owners: @carsonfarmer, @joewagner

(sdk) update `package-lock.json` with sdk version
  package-lock.json
Owners: @carsonfarmer, @joewagner

docs: add root readme, update package readmes
  README.md
  packages/cli/README.md
  packages/local/README.md
  packages/node-helpers/README.md
  packages/sdk/README.md
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

chore: linting
  CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/local/CHANGELOG.md
  packages/node-helpers/CHANGELOG.md
  packages/sdk/CHANGELOG.md
Owners: @carsonfarmer, @joewagner, @sanderpick, @dtbuchholz

(sdk) export helper to get registry contract
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/helpers/index.ts
Owners: @carsonfarmer, @joewagner

(local) enable forking public chains
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  packages/local/config.json
  packages/local/package.json
  packages/local/registry/hardhat.config.ts
  packages/local/src/get-dirname.ts
  packages/local/src/main.ts
  packages/local/src/util.ts
  packages/local/src/validators.ts
  packages/local/test/fork.test.ts
  packages/local/validator/clean/config.json
  packages/local/validator/fork/config.json
Owners: @carsonfarmer, @joewagner

(local) forking polygon works
  packages/local/.mocharc.json
  packages/local/config.json
  packages/local/registry/hardhat.config.ts
  packages/local/src/main.ts
  packages/local/src/validators.ts
  packages/local/test/fork.test.ts
  packages/sdk/src/validator/client/validator.ts
Owners: @joewagner, @carsonfarmer

(local) forking all mainnet chains work
  packages/local/.mocharc.json
  packages/local/config.json
  packages/local/src/get-dirname.ts
  packages/local/src/main.ts
  packages/local/src/validators.ts
  packages/local/test/fork.test.ts
  packages/local/test/start.test.ts
Owners: @joewagner, @carsonfarmer

(local) cleanup
  packages/local/registry/hardhat.config.ts
  packages/local/src/main.ts
  packages/local/src/validators.ts
  packages/local/test/start.test.ts
  packages/sdk/src/validator/client/validator.ts
Owners: @joewagner, @carsonfarmer

(local) update version and cleanup
  package-lock.json
  packages/local/package.json
  packages/local/src/main.ts
Owners: @carsonfarmer, @joewagner

(local) add env specific test timeouts
  packages/local/test/fork.test.ts
  packages/local/test/setup.ts
Owners: @joewagner, @carsonfarmer

(local) update package.json files validator config
  packages/local/package.json
Owners: @joewagner, @carsonfarmer

(local) remove extra analytics from validator conf
  packages/local/validator/clean/config.json
  packages/local/validator/fork/config.json
Owners: @joewagner, @carsonfarmer

(local) increase fork test timeouts
  packages/local/test/fork.test.ts
Owners: @joewagner, @carsonfarmer

increase test timeouts
  .github/workflows/test.yml
  packages/local/test/fork.test.ts
Owners: @carsonfarmer, @joewagner

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# By convention in @tablelandnetwork repos, the first listed
# CODEOWNER is the repo DRI (directly responsible individual)
* @carsonfarmer @joewagner
/packages/sdk/ @carsonfarmer @joewagner
/packages/cli/ @carsonfarmer @joewagner @sanderpick @dtbuchholz
/packages/local/ @joewagner @carsonfarmer
